body {
  font-family: 'Arial', sans-serif; /* フォントを変更 */
  margin: 0;
  background-color: #f0f0f0; /* 背景色を変更 */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: #333; /* 文字色を変更 */
}

h1 {
  text-align: center;
  color: #fff; /* タイトル色を変更 */
  background-color: #007bff; /* ヘッダー背景色 */
  padding: 20px 0; /* ヘッダーpadding */
  margin-bottom: 20px; /* ヘッダー下のmargin */
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: #fff;
  border: none; /* 枠線を削除 */
  padding: 30px; /* paddingを大きくする */
  border-radius: 8px; /* 角を丸くする */
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); /* 影を追加 */
  width: 60%; /* 幅を調整 */
}



.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 20px;
  font-weight: bold; /* labelを太字にする */
}

.inline-form {
  display: flex;
  gap: 20px;
}

.before-after {
  display: flex;
  gap: 20px;
}

input[type="text"],
textarea,
select {
  padding: 12px;
  border: 1px solid #ced4da; /* 枠線色を変更 */
  border-radius: 4px; /* 角を丸くする */
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* ホバー時の効果 */
}

input[type="text"]:focus,
textarea:focus,
select:focus {
  border-color: #80bdff; /* フォーカス時の枠線色 */
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* フォーカス時の影 */
}

textarea {
  height: 180px;
}

input[type="submit"] {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  display: block;
  margin: 20px auto 0;
  width: fit-content;
  transition: background-color 0.15s ease-in-out; /* ホバー時の効果 */
}

input[type="submit"]:hover {
  background-color: #0056b3;
}


footer nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 0;
    text-align: center; /* リンクテキストを中央寄せ */
    transition: transform 0.2s ease-in-out; /* transitionを追加 */
}

footer nav li a:hover {
    transform: translateX(5px); /* 右に少し移動 */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* ホバー時のシャドウ */
}
